body{
       background-color:#808080;
           }

h1 {
font-size: 100px;
color: #008080;
  font-family: 'Indie Flower', cursive;
}

p {
   font-family: 'Baloo', cursive;
  color:#800080;
  font size:55px
}

